
header {
    background-color: #333;
    font-family: 'Arial', sans-serif;
    color: white;
    padding: 20px;
    text-align: center;
}
main {
    padding: 20px;
    font-family: 'Arial', sans-serif;
    text-align: center;
}